<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>cctv_list</title>
  <style>
    body {
      background-color: #F2F2F2;
      font-family: Arial, sans-serif;
    }
    table{
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
    }
    h2 {
      color: #333;
      margin-top: 40px;
      text-align: center;
    }
  </style>
</head>

<body>
<h2>내 CCTV</h2>
<table>
  <tr th:each="cctv: ${cctvList}">
    <td th:text="${cctv.getCctvAlias()}"></td>
    <td>
      <a th:href="@{|/cctv/${cctv.getNo()}|}">조회</a>
    </td>
    <td>
      <a th:href="@{|/cctv/delete/${cctv.getNo()}|}">삭제</a>
    </td>
  </tr>
</table>
</body>
</html>